<div class="flex-container flex-start">
<h1>{{title}}
<button class="btn btn-outline-primary btn-rounded btn-icon" (click)="open(content)">+</button></h1>
</div>

<div *ngIf="!selected">
<ngb-carousel>
	<ng-template *ngFor="let loc of locations" ngbSlide>
		<div (click)="selected = loc" class="picsum-img-wrapper">
			<img [src]="loc.image"/>
		</div>
		<div class="carousel-caption">
			<h3>{{loc.city}} {{loc.country}}</h3>
			<p>This carousel uses customized default values.</p>
		</div>
	</ng-template>
</ngb-carousel>
</div>

<div *ngIf="selected">
  <p>id: {{selected.id}}</p>
  <p>country: {{selected.country}}</p>
  <p>city: {{selected.city}}</p>
  <p>image: {{selected.image}}</p>
  <button class="btn btn-outline-dark" selected = null; (click)="displayLocations();">Back</button>
  <button class="btn btn-outline-warning"(click)="setEditLocation();">Edit</button>
  <button class="btn btn-outline-danger"(click)="deleteLocation(selected.id);">Delete</button>
</div>

<div *ngIf="editLocation">
  <input type="text" name="task" [(ngModel)]="editLocation.country"><br>
  <input type="text" name="description" [(ngModel)]="editLocation.city"><br>
  <input type="text" name="image" [(ngModel)]="editLocation.image"><p></p>
  <button class="btn btn-danger" (click)="editLocation = null;">Cancel</button>
  <button class="btn btn-primary" (click)="updateLocation(editLocation);">Save</button>
</div>


<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">New Memory</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
        <label for="Country">Country</label>
        <div class="input-group">
          <div>
          <input type="text" name="Country" placeholder="Country" [(ngModel)]="newLocation.country">
          </div>
        </div>
          <label for="City">City</label>
        <div class="input-group">
        <div>
          <input type="text" name="City" placeholder="City" [(ngModel)]="newLocation.city">
        </div>
        </div>
        <label for="image">Image</label>
        <div class="input-group">
          <div>
          <input type="img" name="image" placeholder="image"[(ngModel)]="newLocation.image">
				</div>
        </div>
        </div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="addLocation()" (click)="modal.close('Save click')">Save</button>
	</div>
</ng-template>

